# Ignorar carpetas de compilación local
target/
build/

# Ignorar datos de persistencia de Docker local
docker/postgres-data/
docker/minio-data/

# Ignorar configuración de Git e IDE
.git
.gitignore
.idea
.vscode
*.iml

# Ignorar archivos de ayuda o logs
README.md
*.log
../.env

# NO IGNORAR .mvn ni mvnw (son necesarios para el build dentro de Docker)