# --- CONFIGURACIÓN DE BASE DE DATOS ---
DB_USERNAME=usuario_db
DB_PASSWORD=contraseña_segura
DB_URL=jdbc:postgresql://localhost:5433/grit_db

# --- CONFIGURACIÓN DE FLYWAY ---
FLYWAY_USER=usuario_db
FLYWAY_PASSWORD=contraseña_segura

SPRING_FLYWAY_ENABLED=true

# --- SEGURIDAD Y JWT ---
# Genera una clave de al menos 32 caracteres
JWT_SECRET_KEY=tu_clave_secreta_aleatoria_aqui
SECURITY_PEPPER_PROD=tu_pepper_aqui

# --- ALMACENAMIENTO (MINIO / S3) ---
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_BUCKET_NAME=nombre-del-bucket